<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.nextit.team1.mappers.AdminQDetailMapper">
    <select id="selectAdminQDetail" resultType="kr.or.nextit.team1.DTOs.AdminQDetailDTO">
        select *
        from adminq
        where EMP_CODE =#{empCode}
        order by Q_NUM desc
    </select>
    <delete id="deleteAdminQDetail">
        DELETE FROM adminq
        WHERE Q_NUM = #{qnum}
    </delete>

    <select id="AnsQDetailList" resultType="kr.or.nextit.team1.DTOs.AdminQDetailDTO">
        select *
        from adminq
        order by Q_NUM desc
    </select>

    <select id="AnsQCompleteList" resultType="kr.or.nextit.team1.DTOs.AdminQDetailDTO">
        select *
        from adminq
        where Q_STATUS = 1
        order by Q_NUM desc
    </select>

    <select id="noAnsList" resultType="kr.or.nextit.team1.DTOs.AdminQDetailDTO">
        select *
        from adminq
        where Q_STATUS = 0
        order by Q_NUM desc
    </select>
</mapper>