<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.nextit.team1.mappers.AdminQDetailMapper">
    <select id="selectAdminQDetail" parameterType="kr.or.nextit.team1.DTOs.AdminQDetailDTO">
        select qNum, EMP_CODE,TITLE,CONTENT,START_DATE,Q_STATUS,ANS_TITLE,ANS_CONTENT FROM adminqtest
    </select>
    <delete id="deleteAdminQDetail">
        DELETE FROM adminqtest WHERE qNum = #{qNum}
    </delete>
</mapper>