<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.nextit.team1.mappers.CompanyMapper">
   <insert id="insertCompany" parameterType="CompanyDTO">
       INSERT INTO company
       (COM_CODE, COM_NAME, CEO_NAME, CEO_PHONE, CONTECT_PHONE, EMP_NUM, COM_EMAIL, REGISTER_DATE, DELETE_DATE, PAY_STATUS)
       VALUES(#{comCode}, #{comName}, #{ceoName}, #{ceoPhone}, #{contectPhone}, #{empNum}, #{comEmail}, current_timestamp(), #{deleteDate}, #{payStatus});

   </insert>

    <select id="selectComList" parameterType="kr.or.nextit.team1.DTOs.CompanyDTO">
        select *
        from company
        where COM_CODE = #{comCode}
    </select>

    <update id="updateInfo">
        UPDATE company
        SET CEO_NAME=#{ceoName}, CONTECT_PHONE=#{contectPhone}, COM_EMAIL=#{comEmail} , COM_NAME=#{comName}
        WHERE COM_CODE=#{comCode};
    </update>

    <update id="updateStatus">
        update company
        set PAY_STATUS =1
        where COM_CODE =#{comCode}
    </update>

    <select id="selectStatus" resultType="int">
        select count(*)
        from company
        where COM_CODE =#{comCode}
        and PAY_STATUS = 1
    </select>
    <select id="selectAllEmpNum" resultType="int">
        select count(EMP_CODE)
        from employee e
        WHERE EMP_CODE LIKE CONCAT(#{comCode}, '%')
    </select>

    <select id="permissionSelect" resultType="int">
        select count(*)
        from authority a
        where company_edit=1
        and EMP_CODE = #{empCode}
    </select>
</mapper>