<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.nextit.team1.mappers.DocumentMapper">
    <select id="documentSelect" resultType="DocumentDTO">
        SELECT
            *
        FROM
            DOCUMENT
        WHERE
            EMP_CODE LIKE CONCAT(#{comCode}, '%')
    </select>
    <insert id="documentInsert" parameterType="DocumentDTO">
        INSERT INTO
            DOCUMENT (EMP_CODE, DOC_CATE_CODE, TITLE, CONTENT, FILE_NAME, FILE_ORIGIN_NAME, FILE_SIZE, FILE_PATH)
        VALUES
            (#{empCode}, #{docCateCode}, #{title}, #{content}, #{fileName}, #{fileOriginName}, #{fileSize}, #{filePath})
    </insert>

    <select id="documentDetail" parameterType="int" resultType="DocumentDTO">
        SELECT
            DOC_NUM,
            DOC_CATE_CODE,
            TITLE,
            CONTENT,
            FILE_NAME,
            FILE_ORIGIN_NAME,
            FILE_SIZE,
            FILE_PATH,
            START_DATE
        FROM
            DOCUMENT
        WHERE
            DOC_NUM = #{docNum}
    </select>

    <update id="documentUpdate" parameterType="DocumentDTO">
        UPDATE
            DOCUMENT
        SET
            DOC_CATE_CODE = #{docCateCode},
            TITLE = #{title},
            CONTENT = #{content},
            FILE_NAME = #{fileName},
            FILE_ORIGIN_NAME = #{fileOriginName},
            FILE_SIZE = #{fileSize},
            FILE_PATH = #{filePath}
        WHERE
            DOC_NUM = #{docNum}
    </update>
    <delete id="documentDelete">
        DELETE FROM
            DOCUMENT
        WHERE
            DOC_NUM = #{id}
    </delete>

    <select id="getAuthorityByEmpCode">
        SELECT
            DOCUMENT
        FROM
            AUTHORITY
        WHERE
            EMP_CODE = #{empCode}
    </select>

</mapper>