<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.nextit.team1.mappers.ListLibraryMapper">
    <select id="chartSelect" resultType="ListLibraryDTO" parameterType="String">
        select e.EMP_CODE ,e.EMP_NAME , e.DEP_CODE AS "EMP_DEP_CODE",c.DEP_CODE ,c.UPDEP_CODE
        from employeetest e, code c
        where SUBSTRING_INDEX(e.EMP_CODE,'-',1) like #{code}
        and SUBSTRING_INDEX(e.EMP_CODE,'-',1) = c.COM_CODE
    </select>
    <select id="RClickWindowSelect" resultType="ListLibraryDTO" parameterType="String">
        select e.EMP_MAIL as mail, e.PHONE_NUM as PH
        from employeetest e
        where e.EMP_CODE = #{code}
    </select>
    <insert id="noticeInsert" parameterType="ListLibraryDTO">
        insert into notice (EMP_CODE, TITLE, CONTENT, TARGET, END_DATE)
        values (#{empCode}, #{title}, #{content}, #{targets}, #{endDate})
    </insert>
    <select id="noticeListSelect1" resultType="ListLibraryDTO" parameterType="String">
        select n.NOTICE_NUM, n.TITLE, n.CONTENT, n.START_DATE ,SUBSTRING(n.TARGET , locate(CONCAT(#{code}, ':'),n.TARGET)+length(CONCAT(#{code}, ':')), 1) AS targetState, n.END_DATE
        from notice n
        where n.TARGET LIKE CONCAT('%', #{code}, ':%');
    </select>
    <select id="noticeListSelect2" resultType="ListLibraryDTO" parameterType="String">
        select n.TARGET as targets
        from notice n
        where n.TARGET LIKE CONCAT('%', #{code}, '%');
    </select>
    <select id="loadNoticeSelect" resultType="ListLibraryDTO" parameterType="String">
        select n.TITLE,n.START_DATE,n.END_DATE,n.CONTENT,n.TARGET as TARGETS
        from notice n
        where n.NOTICE_NUM = #{code}
    </select>
    <update id="noticeUpdate" parameterType="Map">
        UPDATE notice
        SET TARGET = CONCAT(
        SUBSTRING(TARGET, 1, LOCATE(CONCAT(#{empCode}, ':'), TARGET) + LENGTH(CONCAT(#{empCode}, ':')) - 1),
        #{state},
        SUBSTRING(TARGET, LOCATE(CONCAT(#{empCode}, ':'), TARGET) + LENGTH(CONCAT(#{empCode}, ':')) + 1)
        )
        WHERE TARGET LIKE CONCAT('%', #{empCode}, ':%')
        and NOTICE_NUM like #{noticeNum}
    </update>
</mapper>