<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.nextit.team1.mappers.ScheduleMapper">
    <resultMap id="scheduleMap" type="scheduleDTO">
        <result column="id" property="id"/>
        <result column="emp_code" property="empCode"/>
        <result column="content" property="content"/>
        <result column="category" property="category"/>
        <result column="start_date" property="startDate"/>
        <result column="end_date" property="endDate"/>
    </resultMap>

    <select id="selectSchedules" resultType="scheduleDTO">
        SELECT *
        FROM SCHEDULE
        WHERE EMP_CODE = #{empCode}
        AND CATEGORY NOT IN ('부서', '전체')
    </select>

    <insert id="scheduleInsert" parameterType="kr.or.nextit.team1.DTOs.ScheduleDTO">
        INSERT INTO schedule
        (EMP_CODE, START_DATE, END_DATE, CONTENT, CATEGORY)
        VALUES(#{empCode},#{startDate} ,#{endDate},#{content},#{category});
    </insert>

    <update id="updateSchedule">
        UPDATE schedule
        SET START_DATE=#{startDate}, END_DATE=#{endDate}, CONTENT=#{content}, CATEGORY=#{category}
        WHERE s_Num=#{sNum}
        and emp_code = #{empCode}
    </update>

    <delete id="deleteSchedule">
        DELETE FROM schedule
        WHERE s_Num= #{sNum}
    </delete>

    <select id="selectAuth" parameterType="java.lang.String" resultType="java.lang.String">
        select SCHEDULE
        from authority
        where EMP_CODE =#{empCode}
    </select>

    <select id="selectDepSchedule" parameterType="String" resultType="kr.or.nextit.team1.DTOs.ScheduleDTO">
        SELECT s.*
        FROM SCHEDULE s
        JOIN employee e ON s.EMP_CODE = e.EMP_CODE
        WHERE e.EMP_CODE LIKE CONCAT(
        SUBSTRING(e.EMP_CODE, 1, INSTR(#{empCode}, '-') - 1), '%'
        )
        AND e.dep_code = (
        SELECT dep_code
        FROM employee
        WHERE EMP_CODE = #{empCode}
        )
        AND s.category = '부서';
    </select>

    <select id="selectFullSchedule">
        SELECT *
        FROM SCHEDULE
        WHERE EMP_CODE LIKE CONCAT(SUBSTRING_INDEX(#{empCode}, '-', 1), '%')
        AND CATEGORY = '전체'
    </select>

</mapper>