<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.nextit.team1.mappers.SignMapper">

    <select id="signSelect" resultType="SignDTO">
        SELECT
            *
        FROM
            SIGN_TEST
        WHERE
            EMP_CODE = #{empCode}
        OR
            TARGET LIKE CONCAT('%', #{empCode}, '%')
    </select>

    <select id="signDetail" parameterType="int" resultType="SignDTO">
        SELECT
            SIGN_NUM,
            SIGN_CATE_CODE,
            TITLE,
            CONTENT,
            FILE_NAME,
            FILE_ORIGINAL_NAME,
            FILE_SIZE,
            FILE_PATH,
            TARGET,
            START_DATE,
            END_DATE
        FROM
            SIGN_TEST
        WHERE
            SIGN_NUM = #{signNum}
    </select>

    <insert id="signInsert" parameterType="SignDTO">
        INSERT INTO
            SIGN_TEST
            (EMP_CODE, SIGN_CATE_CODE, TITLE, CONTENT, FILE_NAME, FILE_ORIGINAL_NAME, FILE_SIZE, FILE_PATH, TARGET)
        VALUES
            (#{empCode}, #{signCateCode}, #{title}, #{content}, #{fileName}, #{fileOriginalName}, #{fileSize}, #{filePath}, #{target})
    </insert>

    <update id="signUpdate" parameterType="map">
        UPDATE sign_table
        SET target = #{target}, end_date = #{endDate}
        WHERE sign_num = #{signNum}
    </update>

    <delete id="signDelete" parameterType="int">
        DELETE FROM
            SIGN_TEST
        WHERE
            SIGN_NUM = #{id}
    </delete>
</mapper>